<div class="ion-margin movement">
  <ion-grid>
    
    <div *ngIf="movement; else noMovements">
    <ion-row class="ion-justify-content-between">
      <ion-col size="9">
        <h4>{{movement.notes}}</h4>
        <p>{{movementDateLocaleString}}</p>
      </ion-col>
      <ion-col size="3">
        <div *ngIf="movement?.isExpense">
          <ion-text color="danger">
            <h4>-${{movement.amount}}</h4>
          </ion-text>
        </div>
        <div *ngIf="!movement?.isExpense">
          <ion-text color="success">
            <h4>${{movement.amount}}</h4>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ng-template #noMovements>
    <ion-text><p>Transaccion no encontrada...</p></ion-text>
  </ng-template>

  </ion-grid>
</div>



