.movement{
    background-color: white;
    border-radius: 15px;
    padding: 15px
}

.movement ion-col{
    padding: 0;
}

.movement ion-grid{
    padding: 0;
}

.movement p, .movement h4 {
    margin: 0;
}

.size-18 h4 {
    font-size: 18px;
}