.movement{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    padding-right: 20px;
}

.movement ion-col{
    padding: 0;
}

.movement ion-grid{
    padding: 0;
}

.movement p, .movement h4 {
    margin: 0;
}

.wrap-text{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    
}
.wrap-text h4 {
    font-size: 18px;
    margin-top: 8px;
}