<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-text><h2>Movimientos</h2></ion-text>

    <app-toggle-expense [isExpense]="isExpense" (onToggleExpense)="doToggle($event)"></app-toggle-expense>


    <div class="movements-container ion-margin-top"> 
      <div *ngIf="movements; else noMovements">
        <ng-container *ngFor="let m of movements">
          <app-movement-container [movement]="m"></app-movement-container>
        </ng-container>
      </div>

      <ng-template #noMovements>
        <ion-text><p>loading...</p></ion-text>
      </ng-template>
  
    </div>

  </div>
</ion-content>
