<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" color='light' (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="ion-padding">
    <ion-text><h2>Movimientos</h2></ion-text>

    <app-toggle-expense [isExpense]="isExpense" (onToggleExpense)="doToggle($event)"></app-toggle-expense>


    <div class="movements-container ion-margin-top"> 
      <div *ngIf="movements && isExpense; else isIncome">
        <ng-container *ngFor="let m of expenses">
          <app-movement-container [movement]="m"></app-movement-container>
        </ng-container>
      </div>

      <ng-template #isIncome>
        <div *ngIf="movements && !isExpense; else noMovements">
        <ng-container *ngFor="let m of income">
          <app-movement-container [movement]="m"></app-movement-container>
        </ng-container>
      </div>
      </ng-template>

      <ng-template #noMovements>
        <div class="ion-margin">
          <ion-text class="ion-padding ion-text-center"><p>Aun no se han agregado<br/>movimientos...</p>
            <ion-text  class="ion-text-center" [routerLink]="['/tabs/tab2']" color="tertiary"><p>Agregar</p></ion-text>
          </ion-text>
        </div>
      </ng-template>
    </div>

  </div>
</ion-content>
