<ion-content [fullscreen]="true">


  <div class="ion-padding">
    <ion-text *ngIf="isExpense" class="ion-text-center">
      <h2>Nuevo gasto</h2>
    </ion-text>

    <ion-text *ngIf="!isExpense" class="ion-text-center">
      <h2>Nuevo ingreso</h2>
    </ion-text>
    
   <app-toggle-expense [isExpense]="isExpense" (onToggleExpense)="doToggle($event)"></app-toggle-expense>
  </div>  
    
    <form class="ion-margin" [formGroup]="movementForm" (ngSubmit)="submitForm()">
      <ion-input placeholder="¿Cuanto?" type="number" formControlName="amount" ></ion-input>
      <ion-textarea clearOnEdit="true" placeholder="Notas" formControlName="notes" ></ion-textarea>
      
      <ion-datetime-button datetime="datetime"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" formControlName="date"></ion-datetime>
        </ng-template>
      </ion-modal>


      <ion-button color="light" expand="block" type="submit">Agregar</ion-button>
    </form>

</ion-content>
