<ion-content [fullscreen]="true">


  <div class="ion-padding">
    <ion-text *ngIf="isExpense" class="ion-text-center">
      <h2>Nuevo gasto</h2>
    </ion-text>

    <ion-text *ngIf="!isExpense" class="ion-text-center">
      <h2>Nuevo ingreso</h2>
    </ion-text>
    
   <app-toggle-expense [isExpense]="isExpense" (onToggleExpense)="doSomething($event)"></app-toggle-expense>
  </div>  
    
    <form class="ion-margin">
      <ion-input placeholder="¿Cuanto?" type="text"></ion-input>
      <ion-textarea clearOnEdit="true" placeholder="Notas"></ion-textarea>
     
      <ion-button color="light" expand="block" type="submit">Agregar</ion-button>
    </form>

</ion-content>
