<ion-content [fullscreen]="true">
  <app-budget-heading-container></app-budget-heading-container>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-budget-card [title]="'Ingreso total'" [amount]="1000" [isExpense]="false"></app-budget-card>
      </ion-col>
      <ion-col>
        <app-budget-card [title]="'Egreso total'" [amount]="100" [isExpense]="true"></app-budget-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-margin movements-container">  
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="7">Ultimos movimientos</ion-col>
        <ion-col size="3">
          <ion-text [routerLink]="['/tabs/tab3']" color="tertiary">Ver todos</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>


    <app-movement-container></app-movement-container>
    <app-movement-container></app-movement-container>
    <app-movement-container></app-movement-container>


  </div>

</ion-content>
