<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" color='light' (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="calculations">
  <app-budget-heading-container [amount]="calculations.total"></app-budget-heading-container>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-budget-card [title]="'Ingreso total'" [amount]="calculations!.totalIncome" [isExpense]="false"></app-budget-card>
      </ion-col>
      <ion-col>
        <app-budget-card [title]="'Egreso total'" [amount]="calculations!.totalExpense" [isExpense]="true"></app-budget-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div class="ion-margin movements-container">  
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="7">Ultimos movimientos</ion-col>
        <ion-col size="3">
          <ion-text [routerLink]="['/tabs/tab3']" color="tertiary">Ver todos</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>


    <div *ngIf="movements; else noMovements">
      <ng-container *ngFor="let m of movements">
        <app-movement-container [movement]="m"></app-movement-container>
      </ng-container>
    </div>

    <ng-template #noMovements>
      <ion-text><p>loading...</p></ion-text>
    </ng-template>



  </div>

</ion-content>
